<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Table user</title>
</head>
<body>
     
     <div class="table-container">
          <div class="table-actions">
               
          </div>
          <table>
               <thead>
               <th>ID</th>
               <th>Nome</th>
               <th>Tipo</th>
               <th>Tipo</th>
               <th>CPF</th>
               <th>Sexo</th>
               <th>Opções</th>
          </thead>
          <tr>
               <td>idUser</td>
               <td>userName</td>
          </tr>
                    
     </table>
</div>

</body>
</html>
