/* =========================================================
                          VARIÁVEIS
========================================================= */

:root {
  /* === Fontes === */
  --font-family-base: "Lato", sans-serif;

  /* === Cores === */
  --logo-primary: #ad0000;
  --logo-secondary: #4c180c;
  --logo-hover: #ca00007e;
  --logo-active: #ca00003d;

  --text-highcontrast: #070707;
  --text-main: #161616;
  --text-hierarchy-1: #363636;
  --text-hierarchy-2: #504f4f;
  --text-disabled: #838382;
  --text-disabled-contrast: #b9b8b8;
  --text-oposite: #fffbfb;

  --component-separator: #e9e7e2;
  --component-dark-1: #797877;
  --component-dark-2: #454544;
  --component-dark-main: #393938;
  --component-blue: #5b6073;
  --component-disabled: #d9d7d5;
  --component-bg-main: #f3f5f7;
  --component-bg-1: #fffefa;
  --component-bg-2: #f9f6f4;
  --component-bg-dashboard: #f3f5f7;
}

:root.darkmode {
  --text-highcontrast: #f8f8f8;
  --text-main: #ededed;
  --text-hierarchy-1: #cfcfcf;
  --text-hierarchy-2: #a7a7a7;
  --text-disabled: #7b7b7b;
  --text-disabled-contrast: #5e5e5e;

  --component-separator: #2b2b2b;
  --component-dark-1: #9b9b9b;
  --component-dark-2: #c5c5c5;
  --component-dark-main: #d9d9d9;
  --component-blue: #8d96b8;
  --component-disabled: #4b4b4b;
  --component-bg-main: #1c1c1c;
  --component-bg-1: #212121;
  --component-bg-2: #2a2a2a;
  --component-bg-dashboard: #1c1c1c;
}

/* =========================================================
                     TAMANHO DE FONTE
========================================================= */

body.font-small {
  --fs-xs: clamp(12px, 1.3vw, 13.5px);
  --fs-sm: clamp(13px, 1.4vw, 14.5px);
  --fs-md: clamp(14.5px, 1.6vw, 16px);
  --fs-lg: clamp(20px, 2.2vw, 23.5px);
  --fs-xl: clamp(32px, 3.6vw, 41px);
  --fs-xxl: clamp(36px, 4.5vw, 47px);
}

body.font-normal {
  --fs-xs: clamp(13px, 1.5vw, 15px);
  --fs-sm: clamp(14px, 1.6vw, 16px);
  --fs-md: clamp(16px, 1.8vw, 18px);
  --fs-lg: clamp(22px, 2.5vw, 26px);
  --fs-xl: clamp(36px, 4vw, 46px);
  --fs-xxl: clamp(40px, 5vw, 52px);
}

body.font-large {
  --fs-xs: clamp(14px, 1.7vw, 16.5px);
  --fs-sm: clamp(15.5px, 1.8vw, 18px);
  --fs-md: clamp(18px, 2vw, 20.5px);
  --fs-lg: clamp(24.5px, 2.8vw, 29.5px);
  --fs-xl: clamp(40px, 4.5vw, 52px);
  --fs-xxl: clamp(44px, 5.5vw, 60px);
}

/* =========================================================
                     CONFIGURAÇÕES GLOBAIS
========================================================= */

* {
  transition: 0.3s ease all;
}

body {
  box-sizing: border-box;
  overflow: hidden;
  font-family: var(--font-family-base);
  padding: 0;
  margin: 0;
}

/* =========================================================
                       ESTRUTURA LAYOUT
========================================================= */

.layout_wrapper {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-columns: 250px 1fr;
  grid-template-rows: 55px 1fr;
  height: 100vh;
}

/* ---------- Header ---------- */
header {
  grid-area: header;
  border-bottom: 2px solid var(--component-separator);
}

/* ---------- Main Content ---------- */
main {
  grid-area: main;
  display: flex;
  background-color: var(--component-bg-dashboard);
  overflow-y: auto;
}

/* ---------- Sidebar ---------- */
aside {
  grid-area: sidebar;
  position: relative;
  background-color: var(--component-bg-1);
  border-right: 1px solid var(--component-separator);
}

/* ---------- Sidebar Colapsed ---------- */
.layout_wrapper.sidebar_fechado {
     grid-template-columns: 80px 1fr;
}


/* =========================================================
                         HEADER
========================================================= */

.header_area {
     display: flex;
     width: 100%;
     justify-content: end;
     align-content: center;
     padding: 0 35px;
     gap: 70px;
}

.header_acessibilidade {
     display: flex;
     align-content: center;
     margin: 10px;
}

.acessibidade_btns {
     gap: 20px;
     display: flex;
     color: var(--text-main);
     align-items: center;
}

.acessibidade_btns button {
     background-color: transparent;
     border: none;
}

.acessibidade_btns button:hover {
     color: var(--logo-primary);
}

.acessibidade_btns svg {
     stroke: currentColor;
     width: 24px;
     height: auto;
}

.acessibidade_btns i {
     font-size: 18px;
}


.header_userinfo {
     position: relative;
     display: flex;
     margin-right: 30px;
     gap: 16px;
     justify-content: center;
     margin-top: 5px;
}

.header_user_img {
     display: flex;
     align-items: center;
}

.header_user_img img{
     width: 40px;
     height: auto;
}

.header_user_text {
     display: flex;
     min-width: 120px;
     flex-direction: column;
     font-size: var(--fs-sm);
     justify-content: center;
     line-height: 1.3;
}

.header_username {
     font-weight: 900;
}

.btn_open_submenu {
     background-color: transparent;
     border: none;
       transform: rotateX(1deg);
      transition: all 0.3s ease;
}

.btn_open_submenu.rotacionar { /* para ativar animação submenu */
    transform: rotateX(180deg);
     transition: all 0.3s ease;
}



/* Submenu */

.submenu_userinfo {
     display: none;
     position: absolute;
     margin-right: 20px;
     width: 100%;
     height: 100%;
     max-width: 180px;
     max-height: 50px;
     top: 6%;
     right: 0;
     padding: 18px;
     background-color: var(--component-bg-1);
     border-radius: 4px;
     box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

.submenu_userinfo.on {  /* para ativar */
     display: flex;
}

.submenu_area {
     display: flex;
     align-items: center;
}

.btn_submenu {
     display: flex;
     gap: 16px;
     border: none;
     background-color: transparent;
     font-size: var(--fs-sm);
     color: var(--text-main);
}

.btn_submenu:hover {
    color: var(--logo-primary);
}


/* =========================================================
                         SIDEBAR
========================================================= */


/* ---------- Logo Section ---------- */
.sidebar_logo_area {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.logo_icone {
  width: 50px;
  height: auto;
    flex-shrink: 0;
  fill: var(--text-main);
}

.logo_texto {
  font-weight: 600;
  color: var(--text-main);
  position: relative;
  top: 6px;
  font-size: var(--fs-md);
}

.logo_texto.invisivel {   /* sidebar off */
     display: none;
}

/* ---------- Collapse Button ---------- */
.sidebar_close_btn {
  position: absolute;
  top: 65px;
  right: 0px;
  transform: translateX(50%);
}

.sidebar_close_btn button {
  background-color: var(--component-bg-2);
  border: 0.5px solid var(--component-separator);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar_close_btn i {
  font-size: 30px;
  color: var(--text-hierarchy-2);
  transform: scaleX(1);
    transition: transform 0.3s ease;
}

.sidebar_close_btn i.inverte { 
  transform:  rotate(180deg); /* animação ao fechar sidebar */
  transition: transform 0.3s ease;
}

/* ---------- Navigation Links ---------- */
.sidebar_nav {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
  gap: 28px;
  list-style: none;
  padding: 0 10px;
}

.sidebar_item_titulo {
  font-size: var(--fs-xs);
  color: var(--text-hierarchy-2);
  font-weight: 800;
  position: relative;
  padding: 0;
}

.sidebar_icone_dashboard {
  width: 40px;
  padding: 5px;
  height: auto;
  display: block;
  flex-shrink: 0;
  transform-origin: center; 
  transition: transform 0.3s ease, opacity 0.3s ease;
  fill: currentColor;

}

.sidebar_link {
  display: flex;
  position: relative;
  text-decoration: none;
  gap: 18px;
  font-size: var(--fs-md);
  color: var(--text-main);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  max-width: 350px;
  width: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
  will-change: transform;
}

.sidebar_link.invisivel {
     justify-content: center;
     padding: 5px 0;
     gap: 0;
}

.sidebar_link_text {
     padding: 0;
     align-content: center;
}

.sidebar_link_text.invisivel {   /* sidebar off */
     display: none;
}


.sidebar_link i {
  font-size: 26px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  will-change: transform;

}

/* ---------- Animações & estados ---------- */
.sidebar_link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 2px;
  border-bottom: 2px solid var(--logo-primary);
  transition: all 0.3s ease;
  z-index: 1;
}

.sidebar_link:hover {
  color: var(--logo-primary);
}

.sidebar_link:hover:after {
  width: 100%;
}

.sidebar_link.ativo {
  background-color: var(--logo-active);
  color: var(--logo-primary);
}



/* =========================================================
                       MEDIA QUERY
========================================================= */

@media (max-width: 694px) {

     /* ---------- Layout  ---------- */
     .layout_wrapper {
     grid-template-columns: 200px 1fr;
     grid-template-rows: 55px 1fr;
     }
     

     /* ---------- Header  ---------- */

     .acessibidade_btns {
          gap: 14px;
     }

     .acessibidade_btns i {
     font-size: 16px;
}

     /* ---------- sidebar  ---------- */
     .sidebar_icone_dashboard {
          width: 35px;
     }

     .sidebar_link i {
          font-size: 24px;
     }

}


@media (max-width: 613px) { 
     
     .layout_wrapper {
     display: grid;
     grid-template-areas:
     "header header"
     "main main";
     grid-template-columns: 250px 1fr;
     grid-template-rows: 55px 1fr;
     height: 100vh;
}
     
     aside {
          display: none;
     }

      .layout_wrapper {
     grid-template-columns: 200px 1fr;
     grid-template-rows: 55px 1fr;
     }
}
