
/* ================= VARIABLES ================= */

:root {

       /* === Fontes === */
      --font-family-base: "Lato", sans-serif;

       /* === Cores === */
        --logo-primary: #AD0000;
        --logo-secondary: #4C180C;
        --logo-hover: #DB3E3E;
        --logo-active: #ca000071;

        --text-highcontrast: #070707; 
        --text-main: #161616;
        --text-hierarchy-1: #363636;
        --text-hierarchy-2: #504F4F;
        --text-disabled: #838382;
        --text-disabled-contrast: #B9B8B8;

        --component-separator: #E9E7E2;
        --component-dark-1: #797877;
        --component-dark-2: #454544;
        --component-dark-main: #393938;
        --component-blue: #5B6073;
        --component-disabled: #D9D7D5;
        --component-bg-main: #F3F5F7;
        --component-bg-1: #FFFEFA;
        --component-bg-2: #F9F6F4;
        --component-bg-dashboard: #F3F5F7;

/* PS: Estudar sobre clamp para as fontes, especif. sobre rem e vw */

}

/* ================= MODAL CONTAINER ================= */
.hidden {
    display: none;
}

#modalOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--component-dark-2);
        z-index: 999;
        display: flex;
        justify-content: center; 
       align-items: center;
       overflow: hidden;
}

#modalView {
        background-color: rgb(253, 251, 248);
        max-width: 1000px;
        max-height: 95vh; 
        margin: 50px 20px 30px 20px;
        display: flex;
        overflow-y: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}

#content {
        padding: 20px;
        width: 100%;
}


/* ================= HEADER ================= */

.modalHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 1px;
        gap: 10px;
        border-bottom: 1px solid var(--component-dark-1);
}

.modalHeader h1 {
        margin-left: 12%;
}

.modalHeader p {
        color: #5c5a5a;
        margin-right: 10px;
}

#closeButton {
        background-color: transparent;
        border: none;
        font-size: 25px;
        color: var(--component-dark-main);
}

#closeButton:hover {
        color: var(--logo-hover);
        cursor: pointer;
        transition: 0.3s;
}

/* ================= FORM ================= */
.modalForm { 
     margin: 50px 20px 30px 20px;
     display: flex;
     justify-content: center;

}

.formContainer {
     display: flex;
     flex-wrap: wrap;
     gap: 24px;
     width: 100%;
     max-width: 900px;
     justify-content: center;
}

.formGroup {
     display: flex;
     flex-direction: column;
     gap: 6px;
     margin-bottom: 20px;
}

.labelInput {
     font-size: 16px;
     color: var(--text-main);
}

/* ================= FORM BUTTONS ================= */

.formButtons {
     display: flex; 
     justify-content: center;
     margin: 50px 0 20px 0;
}

/* ================= INPUTS CONFIG ================= */

.input_padrao, .input_textarea, .seletor {
    border: 1px solid var(--component-dark-1);
    border-radius: 6px;
    font-size: 16px;
    color: var(--text-main);
    padding: 10px 12px;
    outline: none;
    box-sizing: border-box;
    background-color: var(--component-bg-1);
}

.input_textarea { width: 300px; color: var(--text-disabled); }

.input_senha .input_padrao {
    width: 150px;
}

.input_pesquisa .input_padrao {
    width: 350px; 
}

input[name="email"] {
    width: 350px; 
}

.input_padrao::placeholder,
.input_textarea::placeholder {
    font-size: var(--placeholder-font-size, 16px);
}

/* Inputs com ícones */
.input_senha, .input_pesquisa, .input_seletor {
    position: relative;
    display: inline-block;
}

/* Padding relativo ao ícone */
.input_senha .input_padrao { padding-right: 2.2em; }
.input_pesquisa .input_padrao { padding-left: 2.2em; }
.input_seletor .seletor { padding-right: 2.2em; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

/* Ícones posicionados */
.input_senha i, .input_pesquisa i, .input_seletor i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
    cursor: pointer;
}

/* ícones dos inputs */
.input_senha i { right: 12px; pointer-events: auto; }
.input_seletor i { right: 12px; pointer-events: none; }
.input_pesquisa i { left: 12px; pointer-events: none; }



/* ================= BOTÕES CONFIG ================= */
.botao, .botao_criar, .botao_salvar, .botao_limpar, 
.botao_excluir, .botao_editar, .botao_visualizar,
.botao_cancelar, .botao_delete {
    border-radius: 6px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    gap: 7px;
    transition: all 0.3s ease;
}

/* Botões principais com fundo vermelho */
.botao, .botao_criar, .botao_salvar {
    background-color: var(--cor-primaria);
    color: var(--botao-texto);
    border: none;
    font-size: 18px;
}

.botao { padding: 13px 30px; }
.botao_criar, .botao_salvar { padding: 11px 20px; }
.botao_criar i { font-size: 25px; }

.botao:hover, .botao_criar:hover, .botao_salvar:hover {
    background-color: rgb(210, 64, 61);
}

/* Botões com borda */
.botao_limpar {
    color: var(--botao-secundario-texto);
    padding: 5px 17px;
    border: 1px solid var(--botao-secundario-texto);
    font-size: 16px;
}
.botao_excluir, .botao_editar, .botao_visualizar {
    color: var(--cor-primaria);
    padding: 11px 20px;
    border: 1px solid var(--cor-primaria);
    font-size: 16px;
}
.botao_delete {
    color: var(--botao-secundario-texto);
    border: 1px solid var(--botao-secundario-texto);
    padding: 11px 20px;
    font-size: 16px;
    background-color: transparent;
}
.botao_cancelar {
    background-color: var(--cor-placeholder);
    color: var(--botao-texto);
    padding: 11px 20px;
    border: none;
    font-size: 18px;
}

/* Hover */
.botao_limpar:hover { background-color: rgb(209, 209, 209); border-color: var(--cor-placeholder); }
.botao_excluir:hover, .botao_editar:hover, .botao_visualizar:hover { background-color: rgba(173,0,0,0.5); }
.botao_delete:hover { color: var(--cor-placeholder); border-color: var(--cor-placeholder); }
.botao_cancelar:hover { background-color: var(--cor-borda); }

/* ================= MEDIA QUERY ================= */

/* Form */
@media (max-width: 930px) {

.formContainer {
     gap: 20px;
     }
}

@media (max-width: 768px) {
     .formContainer {
          flex-direction: column;
          align-items: center;
     }

     #modalView {
        max-width: 100%; 
        width: 70%;
}

     .formGroup {
          width: 100%;
     }
}
