/* =========================================================
                          VARIÁVEIS
========================================================= */

:root {
     /* === Fontes === */
     --font-family-base: "Lato", sans-serif;

     /* === Cores === */
     --logo-primary: #ad0000;
     --logo-secondary: #4c180c;
     --logo-hover: #ca00007e;
     --logo-active: #ca00003d;

     --text-highcontrast: #070707;
     --text-main: #161616;
     --text-hierarchy-1: #363636;
     --text-hierarchy-2: #504f4f;
     --text-disabled: #838382;
     --text-disabled-contrast: #b9b8b8;
     --text-oposite: #fffbfb;

     --component-separator: #e9e7e2;
     --component-dark-1: #797877;
     --component-dark-2: #454544;
     --component-dark-main: #393938;
     --component-blue: #5b6073;
     --component-disabled: #d9d7d5;
     --component-shadow: #1a1a1a48;
     --component-bg-main: #f3f5f7;
     --component-bg-1: #fffefa;
     --component-bg-2: #f9f6f4;
     --component-bg-dashboard: #f3f5f7;
}

:root.darkmode {
     --text-highcontrast: #f8f8f8;
     --text-main: #ededed;
     --text-hierarchy-1: #cfcfcf;
     --text-hierarchy-2: #a7a7a7;
     --text-disabled: #7b7b7b;
     --text-disabled-contrast: #5e5e5e;
     --text-oposite: #080808;

     --component-separator: #2b2b2b;
     --component-dark-1: #9b9b9b;
     --component-dark-2: #c5c5c5;
     --component-dark-main: #d9d9d9;
     --component-blue: #8d96b8;
     --component-disabled: #4b4b4b;
     --component-shadow: #0000004b;
     --component-bg-main: #1c1c1c;
     --component-bg-1: #212121;
     --component-bg-2: #2a2a2a;
     --component-bg-dashboard: #1c1c1c;
}

/* =========================================================
                     TAMANHO DE FONTE
========================================================= */

body.font-small {
     --fs-xs: clamp(12px, 1.3vw, 13.5px);
     --fs-sm: clamp(13px, 1.4vw, 14.5px);
     --fs-md: clamp(14.5px, 1.6vw, 16px);
     --fs-lg: clamp(20px, 2.2vw, 23.5px);
     --fs-xl: clamp(32px, 3.6vw, 41px);
     --fs-xxl: clamp(36px, 4.5vw, 47px);
}

body.font-normal {
     --fs-xs: clamp(13px, 1.5vw, 15px);
     --fs-sm: clamp(14px, 1.6vw, 16px);
     --fs-md: clamp(16px, 1.8vw, 18px);
     --fs-lg: clamp(22px, 2.5vw, 26px);
     --fs-xl: clamp(36px, 4vw, 46px);
     --fs-xxl: clamp(40px, 5vw, 52px);
}

body.font-large {
     --fs-xs: clamp(14px, 1.7vw, 16.5px);
     --fs-sm: clamp(15.5px, 1.8vw, 18px);
     --fs-md: clamp(18px, 2vw, 20.5px);
     --fs-lg: clamp(24.5px, 2.8vw, 29.5px);
     --fs-xl: clamp(40px, 4.5vw, 52px);
     --fs-xxl: clamp(44px, 5.5vw, 60px);
}

/* =========================================================
                     CONFIGURAÇÕES GLOBAIS
========================================================= */

* {
     transition: 0.3s ease all;
}

body {
     box-sizing: border-box;
     overflow-x: hidden;
     overflow-y: auto;
     font-family: var(--font-family-base);
     padding: 0;
     margin: 0;
     background-color: var(--component-bg-dashboard);
}

/* =========================================================
                       ESTRUTURA LAYOUT
========================================================= */

.layout_wrapper {
     display: grid;
     grid-template-areas:
          "sidebar header"
          "sidebar main";
     grid-template-columns: 250px 1fr;
     grid-template-rows: 55px 1fr;
     min-height: 100vh;
     height: auto;
}

/* ---------- Header ---------- */
header {
     grid-area: header;
     border-bottom: 2px solid var(--component-separator);
     position: sticky;
     top: 0;
     z-index: 100;
}


/* ---------- Sidebar ---------- */
aside {
     grid-area: sidebar;
     position: sticky;
     top: 0;
     align-self: start;
     height: 100vh;
     background-color: var(--component-bg-1);
     border-right: 1px solid var(--component-separator);
}

/* ---------- Main Content ---------- */
main {
     grid-area: main;
     display: flex;
     background-color: var(--component-bg-dashboard);
     overflow-y: auto;
     height: auto;
}

/* ---------- Sidebar Colapsed ---------- */
.layout_wrapper.sidebar_fechado {
     grid-template-columns: 80px 1fr;
}


/* =========================================================
                         HEADER
========================================================= */


.header_area {
     display: flex;
     height: 100%;
     width: 100%;
     justify-content: end;
     align-content: center;
     padding: 0 35px;
     gap: 70px;
     background-color: var(--component-bg-1);
}

.header_acessibilidade {
     display: flex;
     align-content: center;
     margin: 10px;
}

.acessibidade_btns {
     gap: 20px;
     display: flex;
     align-items: center;
}

.acessibidade_btns button {
     color: var(--text-main);
     background-color: transparent;
     border: none;
}

.acessibidade_btns button:hover {
     color: var(--logo-primary);
}

.acessibidade_btns svg {
     stroke: currentColor;
     width: 24px;
     height: auto;
}

.acessibidade_btns i {
     font-size: 18px;
}


.header_userinfo {
     position: relative;
     display: flex;
     gap: 16px;
     justify-content: center;
     margin-top: 5px;
}

.header_user_img {
     display: flex;
     align-items: center;
}

.header_user_img img {
     width: 40px;
     height: auto;
}

.header_user_text {
     display: flex;
     min-width: 120px;
     flex-direction: column;
     font-size: var(--fs-sm);
     justify-content: center;
     line-height: 1.3;
     color: var(--text-main);
}

.header_username {
     font-weight: 900;
}

.btn_open_submenu {
     background-color: transparent;
     border: none;
     transform: rotateX(1deg);
     transition: all 0.3s ease;
     color: var(--text-main);
}

.btn_open_submenu.rotacionar {
     /* para ativar animação submenu */
     transform: rotateX(180deg);
     transition: all 0.3s ease;
}



/* Submenu */

.submenu_userinfo {
     display: none;
     position: fixed;
     margin-right: 20px;
     width: 180px;
     height: 50px;
     top: 60px;
     right: 50px;
     padding: 18px;
     background-color: var(--component-bg-1);
     border-radius: 4px;
     box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

.submenu_userinfo.on {
     /* para ativar */
     display: flex;
}

.submenu_area {
     display: flex;
     align-items: center;
}

.btn_submenu {
     display: flex;
     gap: 16px;
     border: none;
     background-color: transparent;
     font-size: var(--fs-sm);
     color: var(--text-main);
}

.btn_submenu:hover {
     color: var(--logo-primary);
}



/* =========================================================
                         SIDEBAR
========================================================= */


/* ---------- Logo Section ---------- */
.sidebar_logo_area {
     display: flex;
     width: 100%;
     height: 40px;
     justify-content: center;
     gap: 10px;
     margin-top: 10px;
}

.logo_icone {
     width: 50px;
     height: auto;
     flex-shrink: 0;
     fill: var(--text-main);
}

.logo_texto {
     font-weight: 600;
     color: var(--text-main);
     position: relative;
     top: 6px;
     font-size: var(--fs-md);
}

.logo_texto.invisivel {
     /* sidebar off */
     display: none;
}

/* ---------- Collapse Button ---------- */
.sidebar_close_btn {
     position: absolute;
     top: 65px;
     right: 0px;
     transform: translateX(50%);
}

.sidebar_close_btn button {
     background-color: var(--component-bg-2);
     border: 0.5px solid var(--component-separator);
     width: 30px;
     height: 30px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.sidebar_close_btn i {
     font-size: 30px;
     color: var(--text-hierarchy-2);
     transform: scaleX(1);
     transition: transform 0.3s ease;
}

.sidebar_close_btn i.inverte {
     transform: rotate(180deg);
     /* animação ao fechar sidebar */
     transition: transform 0.3s ease;
}

/* ---------- Navigation Links ---------- */
.sidebar_nav {
     display: flex;
     flex-direction: column;
     margin-top: 40px;
     width: 100%;
     gap: 28px;
     list-style: none;
     padding: 0 10px;
}

.sidebar_item_titulo {
     font-size: var(--fs-xs);
     color: var(--text-hierarchy-2);
     font-weight: 800;
     position: relative;
     padding: 0;
}

.sidebar_icone_dashboard {
     width: 40px;
     padding: 5px;
     height: auto;
     display: block;
     flex-shrink: 0;
     transform-origin: center;
     transition: transform 0.3s ease, opacity 0.3s ease;
     fill: currentColor;

}

.sidebar_link {
     display: flex;
     position: relative;
     text-decoration: none;
     gap: 18px;
     font-size: var(--fs-md);
     color: var(--text-main);
     padding: 5px 10px 5px 10px;
     border-radius: 10px;
     max-width: 350px;
     width: 100%;
     transition: transform 0.3s ease, opacity 0.3s ease;
     will-change: transform;
}

.sidebar_link.invisivel {
     justify-content: center;
     padding: 5px 0;
     gap: 0;
}

.sidebar_link_text {
     padding: 0;
     align-content: center;
}

.sidebar_link_text.invisivel {
     /* sidebar off */
     display: none;
}


.sidebar_link i {
     font-size: 26px;
     transition: transform 0.3s ease, opacity 0.3s ease;
     will-change: transform;

}

/* ---------- Animações & estados ---------- */
.sidebar_link:after {
     content: "";
     position: absolute;
     bottom: 0;
     left: 0;
     width: 0px;
     height: 2px;
     border-bottom: 2px solid var(--logo-primary);
     transition: all 0.3s ease;
     z-index: 1;
}

.sidebar_link:hover {
     color: var(--logo-primary);
}

.sidebar_link:hover:after {
     width: 100%;
}

.sidebar_link.ativo {
     background-color: var(--logo-active);
     color: var(--logo-primary);
}

/* Quando mobile estiver ligado*/

.hamburguer {
     display: none;
     font-size: 28px;
     background-color: transparent;
     border: none;
     color: var(--text-hierarchy-2);
     padding: 6px;
}

.hamburguer:hover {
     color: var(--logo-primary);
}


/* sidebar mobile */

.sidebar_mobile {
     display: none;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     height: 60vh;
     width: 300px;
     background-color: var(--component-bg-1);
     z-index: 1002;
     transition: transform 0.3s ease;
     border-radius: 10px;
}


.sidebar_mobile .sidebar_logo_area {
     margin-top: 40px;
     display: flex;
     justify-content: center;

}

.sidebar_mobile .sidebar_nav {
     align-items: center;
     justify-content: center;
     gap: 40px;
     margin-top: 60px;
}

.sidebar_mobile .sidebar_item {
     width: 70%;
}

.sidebar_mobile .sidebar_link {
     justify-content: center;
     color: var(--text-main);
}

.sidebar_mobile .sidebar_link i,
.sidebar_mobile .sidebar_link span {
     justify-content: center;
     color: var(--text-main);
}

.sidebar_mobile .sidebar_link.ativo span,
.sidebar_mobile .sidebar_link.ativo svg {
     color: var(--logo-primary);
}


.btn_fechar_mobile {
     background-color: transparent;
     border: none;
     position: absolute;
     left: 5px;
     top: 5px;
     font-size: 20px;
     border-radius: 10px;
     color: var(--text-main);
}

.btn_fechar_mobile :hover {
     color: var(--logo-hover);
}

.backdrop {
     display: none;
     position: fixed;
     inset: 0;
     background: rgba(0, 0, 0, 0.555);
     z-index: 900;
     transition: opacity 200ms ease;
     opacity: 0;
}

.sidebar_mobile.on {
     display: block;
     /* aparece quando o menu abre */
}

.sidebar_mobile.active {
     display: block;
     color: var(--text-color);
     /* Garante que o texto tenha cor */
}

.sidebar_mobile .sidebar_link {
     color: var(--text-color);
     display: flex;
     align-items: center;
     gap: 10px;
     padding: 12px 20px;
     text-decoration: none;
}

.sidebar_mobile .sidebar_link i {
     font-size: 20px;
     width: 24px;
}


.backdrop.on {
     display: block;
     opacity: 1;
     pointer-events: auto;
     /* aparece quando o menu abre */
}

/* =========================================================
                            MAIN
========================================================= */
/* CORREÇÃO DO DASHBOARD CONTAINER */
.dashboard_container {
     padding: 50px 100px;
     width: 100%;
     max-width: 100%;
     box-sizing: border-box;
     overflow-x: hidden;
}

/* Titulo e texto superior */
.dashboard_cabecalho {
     margin-top: 24px;
}

.dashboard_cabecalho h1 {
     color: var(--text-main);
     font-weight: 700;
     font-size: var(--fs-xl);
}

.dashboard_cabecalho p {
     font-size: var(--fs-lg);
     color: var(--text-hierarchy-1);
     margin: 18px 0px 0px 50px;
}

.dashboard_cabecalho span {
     font-size: var(--fs-lg);
     color: var(--logo-primary);
     font-weight: 600;
     margin-left: 2px;
}

/* área de dados */
.dashboard_dados {
     height: 100%;
     min-height: 500px;
     margin: 40px 15px 20px 15px;
}

/* Dados quantitativos */
.linha_dados {
     display: flex;
     gap: 20px;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-bottom: 50px;
}

.bloco_dado {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     width: 100%;
     max-width: 450px;
     height: 200px;
     flex: 1;
     border-radius: 8px;
     background-color: var(--component-bg-1);
     box-shadow: 2px 2px 10px var(--component-shadow);
}

.bloco_dado h2 {
     color: var(--text-main);
     font-size: var(--fs-lg);
     margin: 15px 5px 0px 5px;
}

.bloco_dado p {
     text-align: center;
     color: var(--logo-primary);
     font-size: var(--fs-xxl);
}

/* Gráficos */
.linha_graficos {
     display: flex;
     margin-top: 50px;
     justify-content: center;
     width: 100%;
     gap: 10%;
}

.grafico_card {
     background-color: var(--component-bg-1);
     box-shadow: 2px 2px 10px var(--component-shadow);
     border-radius: 10px;
     width: 100%;
     height: 100%;
     max-width: 550px;
     max-height: 600px;
     min-height: 400px;
     color: var(--text-hierarchy-1);
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
}

.grafico_card h2 {
     font-size: var(--fs-lg);
     font-weight: 600;
     color: var(--text-hierarchy-1);
     margin-top: 30px;
     word-wrap: break-word;
}

.grafico_card #grafico_valor {
     margin-top: 50px;
}


/* =========================================================
                              ALERT 
========================================================= */

.alert_modelo {
     display: none;
     justify-content: center;
     align-items: center;
     position: fixed;
     inset: 0;
     background: rgba(0, 0, 0, 0.5);
     z-index: 999;
     opacity: 1;
}

.alert_modelo.aberto {
     display: flex;
}

.alert_modelo.fechar {
     opacity: 0;
     /* veio do CSS de cima */
}

.conteudo_alert {
     background: var(--component-bg-1);
     padding: 25px;
     border-radius: 12px;
     max-width: 420px;
     width: 90%;
     max-height: 300px;
     text-align: center;
     position: relative;
     z-index: 1000;
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
     animation: aparecer 0.3s ease;
     font-family: var(--font-family-base);
}

.conteudo_alert .fechar_modal {
     position: absolute;
     top: 12px;
     right: 15px;
     font-size: 22px;
     cursor: pointer;
     color: var(--component-dark-main);
     border: none;
     background-color: transparent;
     transition: color 0.3s ease;
}

.conteudo_alert .fechar_modal:hover {
     color: var(--logo-primary);
}

.conteudo_alert .icone_modal {
     display: flex;
     justify-content: center;
     font-size: 50px;
     margin-bottom: 15px;
     padding: 2px;
}

.conteudo_alert .icone_modal_fill {
     padding: 10px 20px;
     border-radius: 50px;
}

.conteudo_alert h2 {
     margin: 10px 0;
     font-size: 20px;
     color: var(--text-highcontrast);
     font-weight: bold;
}

.conteudo_alert p {
     color: var(--text-hierarchy-2);
     font-size: 15px;
     margin: 10px 0 0;
}

.botoes_alert {
     margin-top: 20px;
     display: flex;
     justify-content: center;
     gap: 40px;
}

/* Ícones específicos por alert */
#alert0 .icone_modal_fill {
     color: rgb(255, 205, 48);
     margin-left: 10px;
}

#alert0 .icone_modal_fill {
     background-color: rgba(255, 217, 0, 0.2);
     margin-left: 10px;
}

#alert0 .conteudo_alert i {
     color: rgb(255, 205, 48);
}

#alert1 .conteudo_alert i {
     color: red;
}

#alert1 .icone_modal_fill {
     background-color: rgba(255, 0, 0, 0.2);
     margin-left: 10px;
}

#alert2 .conteudo_alert i {
     color: rgb(28, 74, 255);
}

#alert2 .icone_modal_fill {
     background-color: rgba(28, 73, 255, 0.349);
     margin-left: 10px;
}

/* botões usados no alert */
.botao_cancelar {
     background-color: var(--text-highcontrast);
     color: var(--text-oposite);
     padding: 5px 40px;
     border: none;
     font-size: var(--fs-sm);
     border-radius: 6px;
     cursor: pointer;
     display: inline-flex;
     white-space: nowrap;
     align-items: center;
     gap: 7px;
     transition: all 0.3s ease;
}

.botao_cancelar:hover {
     background-color: var(--logo-primary);
     color: white;
}

.botao_delete {
     color: var(--text-main);
     border: 1px solid var(--component-dark-main);
     padding: 1px 40px;
     font-size: var(--fs-sm);
     background-color: transparent;
     border-radius: 6px;
     cursor: pointer;
     display: inline-flex;
     align-items: center;
     gap: 7px;
     transition: all 0.3s ease;
}

.botao_delete:hover {
     color: var(--logo-primary);
     border-color: var(--logo-primary);
     background-color: transparent;
}

/* Fundo escuro do alert  */
#modalOverlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #08080871;
     z-index: 999;
     display: none;
     justify-content: center;
     align-items: center;
     overflow: hidden;
}

#modalOverlay.on {
     display: flex;
}

/* =========================================================
                       TOAST
========================================================= */
.toast_modelo {
     position: fixed;
     left: 50%;
     top: 20px;
     transform: translateX(-50%) translateY(20px);
     background-color: var(--component-bg-1);
     border-radius: 10px;
     padding: 12px 16px;
     box-shadow: 0 4px 8px var(--component-shadow);
     width: 450px;
     z-index: 999999;
     opacity: 0;
     transition: all 0.4s ease;
     font-family: var(--font-family-base);
}

/* Conteúdo */
.toast_content {
     display: flex;
     gap: 12px;
}

/* Animação */
.toast_modelo.show {
     opacity: 1;
}

/* Ícone */

.icone_alerta {
     font-size: 36px;
     padding: 8px;
     /* Padding uniforme */
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     min-width: 52px;
     /* Largura mínima fixa */
     height: 52px;
     /* Altura fixa */
     box-sizing: border-box;
}

/* Botão fechar */
.btn_fechar_toast {
     background: none;
     border: none;
     position: absolute;
     left: 93%;
     top: 10%;
}

.btn_fechar_toast i {
     color: var(--text-highcontrast);
}

/* Texto */
.texto_alerta h4 {
     margin: 0 0 4px 0;
     font-size: var(--fs-md);
     font-weight: bold;
     color: var(--text-highcontrast);
}

.texto_alerta p {
     margin: 0;
     font-size: var(--fs-sm);
     color: var(--text-hierarchy-2);
}

/* ==========================================
   APARÊNCIAS DOS TIPOS DE TOAST
========================================== */

/* SUCESSO */
.toast_sucesso {
     border-top: solid 4px #28a745;
}

.toast_sucesso .icone_alerta {
     color: #28a745;
     background-color: #28a7451a;
}

/* ERRO */
.toast_erro {
     border-top: solid 4px #dc3545;
}

.toast_erro .icone_alerta {
     color: #dc3545;
     background-color: #fa23233d;
}

/* =========================================================
                       MEDIA QUERY
========================================================= */

@media (max-width: 778px) {

     /* Gráficos quantitativos  */
     .linha_dados {
          flex-direction: column;
          margin-bottom: 70px;
     }

     /* Gráficos estatísticos  */
     .linha_graficos {
          flex-direction: column;
          gap: 30px;
     }
}


@media (max-width: 632px) {

     /* ---------- Layout  ---------- */
     .layout_wrapper {
          grid-template-columns: 150px 1fr;
          grid-template-rows: 55px 1fr;
          width: 100vw;
          max-width: 100vw;
          overflow-x: hidden;
     }

     /* ---------- Header  ---------- */
     .header_area {
          gap: 20px;
          justify-content: space-between;
          margin: 0;
          padding: 0 15px;
          align-content: center;
     }

     .acessibidade_btns {
          gap: 14px;
     }

     .acessibidade_btns i {
          font-size: 16px;
     }

     .header_user_img img {
          width: 34px;
     }

     .header_user_text {
          font-size: var(--fs-xs);
     }

     .header_button_info {
          padding: 0;
          margin: 0;
     }

     /* ---------- sidebar  ---------- */
     .sidebar_icone_dashboard {
          width: 35px;
     }

     .sidebar_link i {
          font-size: 24px;
     }

     /* Dashboard container para mobile */
     .dashboard_container {
          padding: 20px 12px;
          width: 100%;
          max-width: 100vw;
          overflow-x: hidden;
     }

     .linha_dados {
          align-items: center;
     }
}

@media (max-width: 613px) {
     .layout_wrapper {
          grid-template-areas:
               "header header"
               "main main";
          grid-template-columns: 1fr;
          grid-template-rows: 55px 1fr;
          width: 100vw;
          max-width: 100vw;
     }

     aside {
          display: none;
     }

     .layout_wrapper {
          grid-template-rows: 55px 1fr;
     }


     /* ---------- Media Queries para Mobile ---------- */

     .layout_wrapper.sidebar_fechado .logo_texto {
          display: block !important;
          opacity: 1 !important;
     }

     .layout_wrapper.sidebar_fechado .sidebar_link_text {
          display: block;
          color: var(--text-main);
          opacity: 1
     }

     .hamburguer {
          display: flex;
     }

     .submenu_userinfo {
          top: 60px;
          right: 5px;
     }

     /* Sidebar mobile ativo */
     .sidebar_mobile.active {
          display: block;
     }

     .dashboard_container {
          padding: 15px 10px;
          width: 100%;
          max-width: 100vw;
     }
}

@media (max-width: 450px) {
     .header_area {
          gap: 10px;
          padding: 0 10px;
          justify-content: left;
     }


     .acessibidade_btns button {
          padding: 0px;
     }

     .acessibidade_btns i,
     .acessibidade_btns svg {
          font-size: 15px;
          width: 20px;
     }

     .hamburguer {
          font-size: 26px;
     }

     .acessibidade_btns {
          gap: 8px;
     }

     .header_userinfo {
          gap: 10px;
     }

     .header_user_img img {
          width: 30px;
     }

     .header_user_text {
          font-size: 13px;
          min-width: 40px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
     }

     .dashboard_container {
          padding: 12px 8px;
     }

     .sidebar_mobile {
          width: 280px;
          height: 70vh;
     }
}

@media (max-width: 336px) {

     .dashboard_cabecalho span,
     .dashboard_cabecalho p {
          font-size: var(--fs-md);
          text-align: center;
     }
}


/* =========================================================
                       ANIMAÇÕES
========================================================= */

@keyframes aparecer {
     from {
          opacity: 0;
          transform: scale(0.8);
     }

     to {
          opacity: 1;
          transform: scale(1);
     }
}
