:root {
        --logo-primary: #AD0000;
        --logo-secondary: #4C180C;
        --logo-hover: #DB3E3E;
        --logo-active: #ca000071;

        --text-highcontrast: #070707; 
        --text-main: #161616;
        --text-hierarchy-1: #363636;
        --text-hierarchy-2: #504F4F;
        --text-disabled: #838382;
        --text-disabled-contrast: #B9B8B8;

        --component-separator: #E9E7E2;
        --component-dark-1: #797877;
        --component-dark-2: #454544;
        --component-dark-main: #393938;
        --component-blue: #5B6073;
        --component-disabled: #D9D7D5;
        --component-bg-main: #F3F5F7;
        --component-bg-1: #FFFEFA;
        --component-bg-2: #F9F6F4;
        --component-bg-dashboard: #F3F5F7;
}

body {
        background-color: rgb(253, 252, 252);
        box-sizing: border-box;
}

.hidden {
    display: none;
}

#modalOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--component-dark-2);
        z-index: 999;
        display: flex;
        justify-content: center; 
        align-items: center;
}

#modalEdit {
        background-color: rgb(253, 251, 248);
        max-width: 1000px;
        width: 90%;
        min-height: 500px;
        display: flex;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}

#content {
        padding: 20px;
        width: 100%;
}


/* HEADER  */

.modalHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 1px;
        border-bottom: 1px solid var(--component-dark-1);
}

.modalHeader h1 {
        margin-left: 12%;
}

.modalHeader p {
        color: #5c5a5a;
        margin-right: 10px;
}

#closeButton {
        background-color: transparent;
        border: none;
        font-size: 25px;
        color: var(--component-dark-main);
}

#closeButton:hover {
        color: var(--logo-hover);
        cursor: pointer;
        transition: 0.3s;
}

/* FORM */
.modalForm {
        margin: 50px 20px 30px 20px;

}
